.DS_Store
__pycache__/
*.pyc
*.pt
*.pth
*.safetensors
*.bin
*.ckpt
*.onnx
streamlit.log
.vscode/
NAFNet-*.pt
NAFNet/
DarkIR/
node_modules/
ALPR-app/backend/yolov8_plate.pt
ALPR-app/backend/trocr_finetuned_checkpoints/**
ALPR-app/backend/trocr_finetuned_final/**
ALPR-app/backend/data/delta_batch/**
ALPR-app/backend/data/images/**

